.mother-panel-container {
  padding: 20px;
  color: #7c8fac;
  border: 1px solid #444;
  border-radius: 10px;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  gap: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

table th, table td {
  padding: 10px;
  border: 1px solid #444;
}

.pagination-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.pagination{
    display: flex;
    justify-content: flex-end;
}

.pagination button{
    border-radius: 10px;
    background-color: antiquewhite;
    border: 1px solid #444;
    font-size: 0.9rem;
}

.controls{
    display: flex;
    justify-content: space-between;
}

.controls input{
    border-radius: 10px;
    padding-left: 5px;
}

.controls label select{
    border-radius: 10px;
    padding: 2.5px 5px;
    color: black;
}

.add-website{
  color: #49BEFF;
  border: 1px solid #49BEFF;
  border-radius: 10px;
  background-color: transparent;
}

.add-website:hover{
  color: #ffffff;
  background-color: #49BEFF;
  border-radius: 10px;
}

.add-website:active{
  color: #ffffff;
  background-color: #49BEFF;
  border-radius: 10px;
}

.edit-btn{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(8, 212, 244);
  padding: 2px 5px;
  border: none;
}

.delete-btn{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(244, 75, 86);
  padding: 2px 5px;
  border: none;
}

.make-changes{
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #49BEFF;
}

.make-changes:hover{
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #0d8bcf;
}

.make-changes:active{
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #0d8bcf;
}

/* ========================================================== */

.card {
    margin-bottom: 30px;
}

.bg-light-info {
  background-color: rgba(34, 54, 98);
}

input{
  border: none;
}

.modal input {
  padding: 8px;
  border: 1px solid #444;
  background: #374258;
  border-radius: 4px;
  color: #fff;
}

/* loader */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #ddd;
  border-top: 5px solid #555;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
/* loader */