<div class="container-fluid" bis_skin_checked="1">
  <div class="row" bis_skin_checked="1">
    <div class="col-sm-6 col-lg-4 col-xl-2" bis_skin_checked="1">
      <a class="p-4 text-center bg-light-primary card shadow-none rounded-2" style="background-color: #253662;border: none;text-decoration: none;" routerLink="/users-list">
        <img src="assets/Images/users.svg" width="50" height="50" class="mb-6 mx-auto" alt="">
        <p class="text-primary mb-1">Clients</p>
        <h4 class="fw-semibold text-primary mb-0">17</h4>
      </a>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-2" bis_skin_checked="1">
      <a class="p-4 text-center bg-light-warning card shadow-none rounded-2" style="background-color: #4d3a2a;border: none;text-decoration: none;" routerLink="/mother-panel-list">
        <img src="assets/Images/breif-case.svg" width="50" height="50" class="mb-6 mx-auto" alt="">
        <p class="fw-semibold text-warning mb-1">Mother Panels</p>
        <h4 class="fw-semibold text-warning mb-0">24</h4>
      </a>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-2" bis_skin_checked="1">
      <a class="p-4 text-center bg-light-danger card shadow-none rounded-2" style="background-color: #4b313d;border: none;text-decoration: none;">
        <img src="assets/Images/star.svg" width="50" height="50" class="mb-6 mx-auto" alt="">
        <p class="fw-semibold text-danger mb-1">Websites</p>
        <h4 class="fw-semibold text-danger mb-0">109</h4>
      </a>
    </div>
  </div>
</div>