.user-list-container {
  padding: 20px;
  color: #7c8fac;
  border: 1px solid #444;
  border-radius: 10px;
}

.user-list-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  gap: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

table th, table td {
  padding: 16px;
  border: 1px solid #444;
}

td{
    height: 6rem;
}

.pagination-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.pagination{
    display: flex;
    justify-content: flex-end;
}

.pagination button{
    border-radius: 10px;
    background-color: antiquewhite;
    border: 1px solid #444;
    font-size: 0.9rem;
}

.controls{
    display: flex;
    justify-content: space-between;
}

.controls input{
    border-radius: 10px;
    padding-left: 5px;
}

.controls label select{
    border-radius: 10px;
    padding: 2.5px 5px;
    color: black;
}

.edit-btn{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(8, 212, 244);
  padding: 2px 5px;
  border: none;
}

.delete-btn{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(244, 75, 86);
  padding: 2px 5px;
  border: none;
}

.provider-btn{
  color: #49BEFF;
  border: 1px solid #49BEFF;
  border-radius: 10px;
  background-color: transparent;
  margin-left: 10px;
}

.provider-btn:hover{
  color: #ffffff;
  background-color: #49BEFF;
  border-radius: 10px;
}

.provider-btn:active{
  color: #ffffff;
  background-color: #49BEFF;
  border-radius: 10px;
}

.btn-td{
  display: flex;
  justify-content: center;
}


/* ========================================================== */

.card {
    margin-bottom: 30px;
}

.bg-light-info {
  background-color: rgba(34, 54, 98);
}

input{
  border: none;
}
img{
    width: 10rem;
    height: 4rem;
}

.modal-content input{
  background-color: #2a3447;
  color: #7c8fac;
}

input[type="file"]::file-selector-button:hover {
  background-color: #2a3447;
  color: #7183a3;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #ddd;
  border-top: 5px solid #555;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.multiBtn{
    display: flex;
    justify-content: space-around;
}

.addBtn{
    border: none;
    background-color: #49BEFF;
    color: white;
    border-radius: 10px;
    padding: 7px 14px;
}

.addBtn:hover{
    background-color: #3ea2d9;
}

.addBtn:active{
    background-color: #3ea2d9;
}

.importBtn{
    border: none;
    background-color: #13DEB9;
    color: white;
    border-radius: 10px;
    padding: 6.5px 14px;
}

.importBtn:hover{
    background-color: #10bd9d;
}

.importBtn:active{
    background-color: #10bd9d;
}

.importCsvBtn{
    border: none;
    background-color: #13DEB9;
    color: white;
    border-radius: 10px;
    padding: 6.5px 14px;
}

.importCsvBtn:hover{
    background-color: #10bd9d;
}

.importCsvBtn:active{
    background-color: #10bd9d;
}

#editFolderModal input{
  border: 1px solid #465670;
  background-color: #2a3447;
  color: #7C8FAC;
}


#editFolderModal input::placeholder{
  color: #7C8FAC;
}

#editFolderModal select{
  border: 1px solid #465670;
  background-color: #2a3447;
  color: #7C8FAC;
}


#editFolderModal select option{
  border: 1px solid #465670;
  background-color: #2a3447;
  color: #7C8FAC;
}

.modal-title{
    font-size: 1.4rem !important;
    font-weight: 400;
}

#editFolderModal .modal-dialog {
  margin-top: -30px; /* Adjust as needed */
}

#addFolderModal input{
  border: 1px solid #465670;
  background-color: #2a3447;
  color: #7C8FAC;
}


#addFolderModal input::placeholder{
  color: #7C8FAC;
}

#addFolderModal select{
  border: 1px solid #465670;
  background-color: #2a3447;
  color: #7C8FAC;
}


#addFolderModal select option{
  border: 1px solid #465670;
  background-color: #2a3447;
  color: #7C8FAC;
}

#addFolderModal .modal-dialog {
  margin-top: -30px; /* Adjust as needed */
}