<div class="card bg-light-info shadow-none position-relative overflow-hidden" style="border: none;">
  <div class="card-body px-4 py-2">
    <div class="row align-items-center">
      <div class="col-9">
        <h4 class="fw-semibold mb-8" style="color: white;font-size: 1.4rem;">{{motherPanelName}} Website List</h4>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb" style="margin-bottom: 9px;">
            <li class="breadcrumb-item" style="color: #aaa"><a class="text-muted" style="text-decoration: none;color: #aaa !important;" routerLink="/home">Dashboard</a> <span style="color: white;"> • </span> <a class="text-muted" style="text-decoration: none;color: #aaa !important;" routerLink="/mother-panel-list">Mother Panel List <span style="color: white;"> • </span> </a>Client Lists</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="mother-panel-container">
    <div class="controls">
        <label>
            Show
            <select>
                <option [value]="10">10</option>
                <option [value]="25">25</option>
                <option [value]="50">50</option>
                <option [value]="100">100</option>
            </select>
            entries
        </label>
    
        <input type="text" placeholder="Search" />
    </div>
    <table>
        <thead>
            <tr>
                <th>Logo</th>
                <th>Web Login Image</th>
                <th>Mobile Login Image</th>
                <th>Banners</th>
                <th>Action</th>
                <th>Portfolio</th>
            </tr>
        </thead>
        <tbody>
            @for (item of websiteList(); let i =$index; track item._id) {
                <tr>
                    <td>
                        <div class="multi-btn">
                            <img *ngIf="item.website_logo" src="{{item.userId.cloud_image_url}}{{item.website_logo}}/{{item.website_logo_variant}}" alt="" srcset="" width="80" height="80">    
                            <button class="skyBlueBtn" (click)="openEditPanelModal(item)">Edit</button>
                        </div>
                    </td>
                    <td>
                        <div class="multi-btn">
                            <img *ngIf="item.website_logo_web" src="{{item.userId.cloud_image_url}}{{item.website_logo_web}}/{{item.website_logo_web_variant}}" alt="" srcset="" width="80" height="80">
                            <button class="skyBlueBtn" (click)="openEditPanelModal(item)">Edit</button>
                        </div>
                    </td>
                    <td>
                        <div class="multi-btn">
                            <img *ngIf="item.website_logo_mobile" src="{{item.userId.cloud_image_url}}{{item.website_logo_mobile}}/{{item.website_logo_mobile_variant}}" alt="" srcset="" width="80" height="80">
                            <button class="skyBlueBtn" (click)="openEditPanelModal(item)">Edit</button>
                        </div>
                    </td>
                    <td>
                        <div class="multi-btn">
                            <button class="btn btn-primary add skyBlueBtn" (click)="openAddBannerSwal(item._id)">Add</button>
                            <button class="add skyBlueBtn" (click)="openAddCsvBannerSwal(item._id)">CSV</button>
                            <button class="add greenBtn" routerLink="/get-banners/{{item._id}}">Change</button>                        
                        </div>
                    </td>
                    <td>
                        <div class="multi-btn">
                            <button class="add musturdBtn" routerLink="/add-body/{{item._id}}" ><i class="fa fa-plus"></i> Body</button>
                            <button class="add greenBtn" routerLink="/body/{{item._id}}"><i class="fa fa-eye"></i> Body</button>
                            <button class="add greenBtn" routerLink="/inplay/{{item._id}}"><i class="fa fa-eye"></i> Inplay</button>
                        </div>
                    </td>
                    <td>
                        <div class="multi-btn" style="gap: 3rem;">
                            <span>{{item.website_url}}</span>
                            <div class="last-Btn">
                                <button class="edit-btn" (click)="refreshComponent()">
                                    <i class="fas fa-refresh"></i>
                                    Refresh
                                </button>
                                <button class="delete-btn" (click)="confirmAndDeleteUser(item._id)">
                                    <i class="fas fa-trash-alt"></i> 
                                    Delete
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="modal fade" id="editPanelModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content" style="background-color: #2a3447; color: white;">
      <div class="modal-header">
        <h5 class="modal-title">Edit Panel Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="filter: invert(1);"></button>
      </div>
      <form [formGroup]="editPanelForm" (ngSubmit)="onSubmitEditPanel()">
        <div class="modal-body row g-3">
          <!-- Website Info -->
          <div class="col-md-4">
            <label>Website Name</label>
            <input formControlName="website_name" class="form-control" style="padding: 8px;" />
          </div>
          <div class="col-md-4">
            <label>Website URL</label>
            <input formControlName="website_url" class="form-control" style="padding: 8px;" />
          </div>
          <div class="col-md-4">
            <label>Refresh Endpoint URL</label>
            <input formControlName="refresh_endpoint_url" class="form-control" style="padding: 8px;" />
          </div>

          <!-- Logo Fields -->
          <div class="col-md-3">
            <label>Website Logo</label>
            <input type="file" (change)="onFileChange($event, 'website_logo')" class="form-control" />
          </div>
          <div class="col-md-3">
            <label>Website Logo Variant</label>
            <input formControlName="website_logo_variant" class="form-control" style="padding: 8px;" />
          </div>

          <div class="col-md-3">
            <label>Website Logo 2</label>
            <input type="file" (change)="onFileChange($event, 'website_logo_second')" class="form-control" />
          </div>
          <div class="col-md-3">
            <label>Website Logo 2 Variant</label>
            <input formControlName="website_logo_variant_second" class="form-control" style="padding: 8px;" />
          </div>

          <!-- Iamge start -->

          <div class="col-md-6">
            <img *ngIf="imagePreviews.website_logo" src="{{imagePreviews.website_logo}}" height="80" width="80" alt="" srcset="">
          </div>
          <div class="col-md-6">
            <img *ngIf="imagePreviews.website_logo_second" src="{{imagePreviews.website_logo_second}}" height="80" width="80" alt="" srcset="">
          </div>

          <!-- image end -->

          <div class="col-md-3">
            <label>Website Web Login Image</label>
            <input type="file" (change)="onFileChange($event, 'website_logo_web')" class="form-control" />
          </div>
          <div class="col-md-3">
            <label>Web Login Image Variant</label>
            <input formControlName="website_logo_web_variant" class="form-control" style="padding: 8px;" />
          </div>

          <div class="col-md-3">
            <label>Mobile Login Image</label>
            <input type="file" (change)="onFileChange($event, 'website_logo_mobile')" class="form-control" />
          </div>
          <div class="col-md-3">
            <label>Mobile Login Image Variant</label>
            <input formControlName="website_logo_mobile_variant" class="form-control" style="padding: 8px;" />
          </div>

          <!-- Iamge start -->

          <div class="col-md-6">
            <img *ngIf="imagePreviews.website_logo_web" src="{{imagePreviews.website_logo_web}}" height="80" width="80" alt="" srcset="">
          </div>
          <div class="col-md-6">
            <img *ngIf="imagePreviews.website_logo_mobile" src="{{imagePreviews.website_logo_mobile}}" height="80" width="80" alt="" srcset="">
          </div>

          <div class="col-md-3">
            <label>Favicon</label>
            <input type="file" (change)="onFileChange($event, 'website_favicon')" class="form-control" />
          </div>
          <div class="col-md-3">
            <label>Favicon Variant</label>
            <input formControlName="website_favicon_variant" class="form-control" style="padding: 8px;" />
          </div>

          <div class="col-md-6">
            <img *ngIf="imagePreviews.website_favicon" src="{{imagePreviews.website_favicon}}" height="80" width="80" alt="" srcset="">
          </div>
          <div class="col-md-6">
            <!-- <img *ngIf="imagePreviews.website_logo_mobile" src="{{imagePreviews.website_logo_mobile}}" height="80" width="80" alt="" srcset=""> -->
          </div>
          

          <!-- image end -->
        </div>
        <div class="modal-footer mt-3">
          <button type="submit" class="btn btn-warning">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="loader-overlay" *ngIf="loading">
  <div class="spinner"></div>
</div>